.button{
    position: relative;
    border-radius: 10px;
    background-color: #d2d2d2;

    width: 50px;
    aspect-ratio: 1;

    padding: 5px;
}

.button img{
    max-width: 100%;
    -webkit-user-drag: none;
    user-drag: none;
}