.button {
    position: relative;
    border-radius: 10px;
    background-color: #d2d2d2;

    transition: background-color 0.3s;

    width: 40px;
    height: 40px;
}

.button:hover {
    background-color: #a3a3a3;
}

.button::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 4px;

    border-radius: 10px;
    background-color: black;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}