* {
    line-height: 1.2em;
    z-index: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 100%;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

:root {
    --bg: #0d1117;
    --text: #fff;
}

body {
    position: relative;
    background-color: var(--bg);
    color: var(--text);

    font-family: 'Roboto', sans-serif;
}

input{
    background-color: transparent;
    border: none;
    box-shadow: none;
    
    border-bottom: 2px solid black ;
    font-size: 16px;
    text-align: center;
    
    width: 10ch;
}

input[type="checkbox"]{
    all: unset;
    position: relative;
    height: 16px;
    margin: 0 1ch;
}

label{
    cursor: pointer;
}

input[type="checkbox"]::before{
    content: '';
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    display: block;
    
    height: 100%;
    aspect-ratio: 1;
    
    border-radius: 5px;
    border: 1px solid gray;
}


input[type="checkbox"]:checked::after{
    content: "";
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%) rotate(-45deg);
    
    display: block;
    
    height: 5px;
    width: 10px;

    border: 2px solid green;

    border-top: none;
    border-right: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.app {
    position: relative;
    display: flex;
    height: 100vh;
    height: 100dvh;
    
    padding: 30px;

    gap: 20px;
}

h1 {
    text-align: center;
}

.table {
    position: relative;
    flex: .75;

    padding: 20px;
    border-radius: 20px;

    background-color: #515151;
}

menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;
    padding: 20px 30px;

    background-color: #21262D;
    height: 100%;

    flex: .25;

    user-select: none;
}

.point {
    position: absolute;
    cursor: pointer;
    width: 50px;
    aspect-ratio: 1/1;
    
    border-radius: 10px;
    
    left: -25px;
    top: -25px;
    z-index: 3;
    
    background-color: aliceblue;
}

.point.selected {
    box-shadow: 0 0 0 5px blueviolet !important;
}

.point.selected::before {
    all: unset;
    
    content: attr(data-number);
    position: absolute;

    top: 50%;
    right: calc(-100% + 2px);

    background-color: blueviolet;
    padding: 10px;

    z-index: 4;

    box-shadow: none;
    border-radius: 0px 10px 10px 0px;

    transform: translate(-50%, -50%);
}

.col{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.point img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 75%;
    -webkit-user-drag: none;
    user-drag: none;
}

.vehicle{
	user-select: none;
	position: absolute;
    top: 0;
    left: 0;
    
    z-index: 5;
}

.vehicle img{
    position: relative;
	cursor: pointer;

	transition: transform .2s ease;
	height: 100%;

    -webkit-user-drag: none;
    user-drag: none;
}

.vehicle.selected img{
    filter: drop-shadow(0 0 8px #6006e5);
}

.vehicle.no_fuel {
    z-index: 4;
    filter: drop-shadow(0 0 8px red);
}

.btns{
    display: flex;
    gap: 15px;
}

.veh_tab{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    width: 100%;
    background-color: #cccccc;

    border-radius: 20px;
    padding: 20px 0;
}

.veh_tab .vehicle{
    position: relative;
    
    height: 100px;
    rotate: 0deg;
}

.veh_tab .vehicle img{
    max-height: 100%;

    filter: drop-shadow(-2px 2px 4px #000);
}

.button{
    position: relative;
    border-radius: 10px;
    background-color: #d2d2d2;
    
    width: 50px;
    aspect-ratio: 1;
    
    padding: 10px;

    transition: all .3s ease;
}

.button:hover{
    background-color: #a2a2a2;
}

.button img{
    max-width: 100%;
    -webkit-user-drag: none;
    user-drag: none;
}

.button.selected{
    outline: 3px solid blueviolet;
}